node_modules
*.log
.next
app
notionsrenv
package-lock.json
Caesar Old
build
CaesarAudioWAVs
*.wav
Miscallenouse Translate
Miscallenouse 
caesaraienv
caesaraineuralnetenv
dist
caesarai
glove.6B.300d_should_be_here.txt
glove.6B.300d.txt
*.csv
*.json
*.txt
*.xlsx
*.pyc
caesarmodel